:root {
    --main-background-color: #fafbfc;

    --navigation-border-color: #dedede;
    --navigation-background-color: #ffffff;
    --navigation-icon-background-color: #ececec;

    --card-box-shadow-color: rgba(187, 187, 187, 0.34);
    --card-tags-color: #c5c5c5;

    --lane-title-box-shadow-color: rgba(187, 187, 187, 0.4);

    --basic-light-text-color: #9b9b9b;
    --basic-dark-text-color: #4b4b4b;
    --basic-hover-color: #e0e0e0;

    --main-view-box-shadow-color: rgba(51, 51, 51, 0.7);
    --main-view-navigation-background-color: #eff0f3;
    --main-view-secondary-background-color: #fbfbfb;

    --status-selector-background-color: #007bff;
    --status-selector-text-color: #f8f8f8;
}